body {
    background-color:antiquewhite;
}
*{
    text-align: center;
}

h1 {
    color: #EE4D2D;
}

table{
    margin: auto;
    width: 500px;
}

hr{
    width: 500px;
    margin: auto 10px 10pxs;
}

th {
    background-color: #EE4D2D;
}